<% @clear = false %>
<section class="col-xs-3 book">
	<% cache_fragment(book["isbn"].to_s) do %>
		<% gbook = GoogleBooks.search('isbn:' + book["isbn"].to_s).first %>
		<% if !gbook.nil? %>
			<img src="<%= gbook.image_link %>" alt="<%= gbook.title %> by <%= gbook.authors %>" class="img-responsive centered">
			<div class="text-center pull-bottom">Last read: <%= book["read"] %></div>
		<% else 
			@clear = true %>
			<div class="text-center">Failed to load book. (isbn:<%= book["isbn"].to_s %>)</div>
		<% end %>
	<% end %>
	<% 	if @clear 
			cache_clear(book["isbn"].to_s)
		end %>
</section>